<!DOCTYPE html>
<html lang="en">


<head>
    <%-include('./partials/head')%>
    <link rel="stylesheet" href="/stylesheets/categorias.css">
    <style>
        .Produtos_galeria {
            display: flex;
            flex-direction: column;
            width: 73vw;
        }

        .Produtos_produto {
            display: flex;
            flex-direction: row;
            text-align: justify;
            width: auto;
            height: auto;
            justify-content: space-around;
        }

        .Produtos_produto_img {
            margin: 5px;
        }
        .Produtos_produto_name{
            padding: 5px;

        }
        .Produtos_infos{
            display: flex;
            flex-direction: row;
        }
        .Produtos_buttons{
            display: flex;
            flex-direction: column;
        }
        .btn-primary{
            width: 100%;
        }
        .button-back {
    background-color: #1C2E4A;
    border-radius: 50px;
    padding: 8px 12px 8px 12px;
    /* width: 9%; */
    /* margin: 10px; */
    /* margin: auto; */
}
main{
    margin-top: 10px;
}


#header_title {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* margin: auto; */
    margin: 10px 0px 10px 0px;
}
.Produtos_header_titulo {
    /* flex-grow: 2; */
    margin: auto;
    align-items: center;

}
#formbusca{
    display:inherit;
    align-items: center;
}
    </style>
</head>

<body>
    <%-include('./partials/header')%>
    <main>
        <div class="Produtos">
            <div id="header_title"> 
            <button class="button-back" onclick="back()"><i class="fa fa-arrow-left" style="font-size:35px;color:#FFFF05"></i></button>
            <h1 class="Produtos_header_titulo"><%=title%></h1>
        </div>
            <div class="Produtos_header">
                
                
                <form id="formbusca" action="buscarproduto" method="GET">
                    <input class="input_text" type="text" name="q" placeholder="buscar um produto">
                    <button class="btn-primary" type="submit">buscar</button>
                    <button class="btn-secondary" style="padding: 0px 10px;" onclick="location.href=location.origin+'/adm/editarproduto'">clear</button>
                </form>
                
                <div class="Produtos_header_ordem">
                    <span>Ordenar por:</span>
                    <select id="order" name="select" onchange="javascript:handleSelect(this)">
                        <option value="alfabetica" <%=(order.includes("alfabetica"))?'selected':"" %>>Ordem alfabética
                        </option>
                        <option value="vendidos" disabled>Mais vendidos</option>
                        <option value="maior" <%=(order.includes("maior"))?'selected':"" %>>Maior preço</option>
                        <option value="menor" <%=(order.includes("menor"))?'selected':"" %>>Menor preço</option>
                    </select>
                    <button id="Sidebar_open" class="Sidebar_open">Filtrar</button>
                </div>
            </div>

            <div class="Produtos_galeria">
                <%produtos.forEach(produto=>{%>
                <article class="Produtos_produto">
                    <img class="Produtos_produto_img" src="<%=produto.imagem%>" alt="<%=produto.nome%>">
                    <div class="Produto_infos">
                        <div class="Produtos_produto_name">Código: <%=produto.codigo%></div>
                        <div class="Produtos_produto_name">Nome:    <%=produto.nome%></div>
                        <div class="Produtos_produto_name">Cor:   <%=produto.cor%></div>
                        <div class="Produtos_produto_name">Quantidade:   <%=produto.quantidade%></div>
                        <div class="Produtos_produto_name">Preço:   R$<%=produto.preco%></div>
                        <div class="Produtos_produto_name">Tamanho:   <%=produto.tamanho?produto.tamanho:'Não se aplica'%></div>
                        <div class="Produtos_produto_name">Desconto:   <%=produto.desconto?produto.desconto:'Não se aplica'%></div>
                    </div>
                    <div class="Produto_buttons">
                    <button class="btn-primary" onclick="onedit(<%=produto.idprodutos%>)">Editar </button>
                    <button 
                        class="btn-primary" onclick="ondelete(<%=produto.idprodutos%>)">Deletar</button>
                    </div>
                </article>
                <%})%>

            </div>
            <div class="Produtos_pagination">
                <a class="Produtos_pagination_point" href="#">❮</a>
                <%for (let i=1;i<=totalPages;i++){%>
                <a href="#<%=i%>" class="page" id=<%=activePage==i.toString()?"active":""%>><%=i%></a>
                <%}%>
                <a class="Produtos_pagination_pointend" href="#<%=totalPages%>">❯</a>
            </div>
    </main>

    <%-include('./partials/footer')%>
</body>
<script>

    function back(){
            location.href=location.origin + "/adm"
        
    }

    function onedit(edit){
        sessionStorage.setItem('page',document.URL)
        location.href='editarproduto/'+edit;
        
    }
    function ondelete(del){
        fetch('deletarproduto/'+del)
        location.href=document.URL
    }
    

    var maxPage = $(".Produtos_pagination_pointend")[0].href.split("#")[1]

    if (window.location.search.indexOf("page") > -1) {
        $(".Produtos_pagination_point")[0].href = window.location.origin + window.location.pathname + window.location.search.replace(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1], (Number(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1]) == 1 ? 1 : Number(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1]) - 1))
        $(".Produtos_pagination_pointend")[0].href = window.location.origin + window.location.pathname + window.location.search.replace(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1], (Number(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1]) == maxPage ? maxPage : Number(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1]) + 1))
    } else if (window.location.search == "") {
        maxPage > 1 ? $(".Produtos_pagination_pointend")[0].href = window.location.origin + window.location.pathname + "?page=" + 2 : $(".Produtos_pagination_pointend")[0].href = window.location.origin + window.location.pathname + "?page=" + 1
        $(".Produtos_pagination_point")[0].href = window.location.origin + window.location.pathname + "?page=" + 1
    } else {
        maxPage > 1 ? $(".Produtos_pagination_pointend")[0].href = window.location.href + "&page=" + 2 : $(".Produtos_pagination_pointend")[0].href = window.location.href + "&page=" + 1
        $(".Produtos_pagination_point")[0].href = window.location.href + "&page=" + 1
    }

    for (let pg of $(".page")) {
        if (window.location.search == "") {
            Pagehref = window.location.origin + window.location.pathname + "?page=" + pg.href.split("#")[1]

        } else if (window.location.search.indexOf("page") > -1) {
            Pagehref = window.location.origin + window.location.pathname + window.location.search.replace(window.location.search.split("&").find(a => a.indexOf("page") > -1).split("=")[1], pg.href.split("#")[1])
        } else {
            Pagehref = window.location.href + "&page=" + pg.href.split("#")[1]
        }
        pg.href = Pagehref
    }
    function handleSelect(elm) {

        if (window.location.search == "") {
            window.location.search = "?ordem=" + elm.value
        } else if (window.location.search.indexOf("ordem") > -1) {
            window.location.search = window.location.search.replace(window.location.search.split("&").find(a => a.indexOf("ordem") > -1).split("=")[1], elm.value)
        } else {
            window.location.search = window.location.search + "&ordem=" + elm.value
        }
    }
    document.getElementById("Sidebar_open").addEventListener("click", function () {
        document.getElementsByClassName("Sidebar")[0].style.display = ""
        document.getElementsByClassName("Produtos")[0].style.display = "none"

    })

    document.getElementById("closeside").addEventListener("click", function () {
        document.getElementsByClassName("Produtos")[0].style.display = ""
        document.getElementsByClassName("Sidebar")[0].style.display = "none"
    });

    if (window.matchMedia("(max-width: 600px)").matches) {
        /* The viewport is less than, or equal to, 700 pixels wide */
        document.getElementsByClassName("Sidebar")[0].style.display = "none"

    } else {
        /* The viewport is greater than 700 pixels wide */
        document.getElementsByClassName("Sidebar")[0].style.display = ""
    }
</script>

</html>